@charset "UTF-8";

/* nav */

nav li {border: 1px solid #f00;
 display: inline-block/* 
          메뉴들을 나란히 배치 */;
 width: 120px;
 vertical-align: top /* 
   나란히 온 메뉴들을 수직정렬 위로 지정 */; }
 
nav a {border: 1px solid #00f;
 background-color:#248;
 width: 120px;
 display: block /* 크기 적용 가능하도록 */;
 padding: 5px 0;
 text-align: center;
 text-decoration: none;}
 
nav a:link, nav a:visited {
 /* 초기링크상태와 방문한링크상태
    (평상시) */	
	color: #fff;}

nav a:hover, nav a:active {
 /* 마우스오버시상태와 활성화링크상태
    (변화시) */	
	background-color:#acf;
	color: #012;}

#sub {display: none;}
#mn05:hover>#sub {display: block;}










.in {border: 1px solid;
width:100px; 
height: 50px;
margin: 30px;
display: block; }

#sec01:hover>.in {
 display: inline; }

.bl {border: 1px solid;
width:100px; 
height: 50px;
margin: 30px;
display: inline; }

#sec02:hover>.bl {
 display: block;}


.inbl {border: 1px solid red;
width: 300px; height: 50px;
margin: 30px;
display: inline-block;}


    /* ctrl+shift+/ = 주석단축키 */
 /* 4. display:none */

#sec04, #sec05 {/* 선택자A, B, ...는
여러 요소를 한번에 지정하는 그룹선택자
(선택자 종류는 서로 달라도 됨) */
width: 43%;
display: inline-block;
vertical-align: top
/* inline요소들끼리의 수직정렬 지정 */;}


.bg-y {background-color:#ff0; }

p.bg-y {/* A.class명은 태그A의 class명을
지정한 요소를 불러오는 선택자 */
	display: none;}

div:hover+p {/* 1. 선택자A+B는 
A의 바로 뒤에 오는 형제요소B를 지정하는
 인접형제관계선택자 
2. 선택자A~B는 
A의 뒤에 오는 모든 형제요소B를 지정할 수 있는
 형제관계선택자*/
	display: block;}
/* 
h2:hover~i {background-color: #000;}
 */
.bg-p {background-color: #fbb;}


span.bg-p {display: none;}

#sec04:hover>span.bg-p {
	/* 선택자 A>B는 부모A와 자식 관계인 B를
	지정하는 관계선택자 
	
	선택자 A B는 조상A와 자손관계인 모든 B를
	지정할 수 있는 관계선택자 
	*/
	display: inline;}


 
.bg-sk {background-color: #adf;}

#sec05>p {visibility:hidden; }

#sec05>div:hover+p {
 visibility: visible;}

.bg-or {background-color: #fa0;}

#sec05>span {visibility: hidden;}

#sec05:hover>span {
	visibility: visible;}


















