@charset "UTF-8";

.fs14 {font-size: 14px;}

 /* 1. text-align 글자 수평 정렬 */
.brdr {border: 1px solid;
 width: 300px;}

.ta01 {text-align: left;}
.ta02 {text-align: center;}
.ta03 {text-align: right;}
.ta04 {text-align: justify;}


 /* 2. text-decoration 글자의 줄들 */
.tde01 {text-decoration: overline;}
.tde02 {text-decoration: line-through;}
.tde03 {text-decoration: underline;}
.tde04 {text-decoration: none;
background-color: #5ed;}

.tde04:hover {
 /* 상태선택자 A:hover는
요소A에 마우스오버시에 스타일 적용 */	
 background-color: #068;
 color:	#fff;
 text-decoration: underline;}


 /* 3. text-indent 글자 들여쓰기 */
.brdr01 {border: 1px solid;}

.tin01 {text-indent: 10px;}
.tin02 {text-indent: 1em;}
.tin03 {text-indent: 10%;}
.tin04 {text-indent: -50px;}

.tin05:hover {
 text-indent: 2em;} 

.tin06 {text-indent: 3em;}



 /* 4. text-transform 대소문자 변형 */
.ttr01 {text-transform: none;}
.ttr02 {text-transform: uppercase;}
.ttr03 {text-transform: lowercase;}
.ttr04 {text-transform: capitalize;}


/* 5. text-shadow 글자의 그림자 */
.sh {padding:16px;
font-size: 40px;
font-weight: bold;
text-align: center;}

.tsh01 {text-shadow: 2px 3px 6px #333; }
.tsh02 {text-shadow: -2px -3px 4px #333;}
.tsh03 {text-shadow: 2px 3px 4px #333;
color: #fff;}

.tsh03:hover {text-shadow: 0px 0px 4px #fff;
 transition: 1.6s;}
.tsh04 {text-shadow: 0 0 2px #760;
 color: #fff;}



.bg {background-color: #000;}

.tsh05 {text-shadow: 0 0 20px #cfffef;}
.tsh06:hover {
text-shadow: 0 0 10px #fc32de;		
transition:1s;}

.tsh07 {text-shadow: -2px -2px 6px #fc32de,
 2px 2px 6px #00ff40;}

.tsh07:hover {color: #5affbb;	
transition:1s;}



















